.btn {
	display: inline-block;
	border: none;
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 200px;

	color: var(--primary-bg-color);
	background-color: var(--accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.89;
	align-items: center;
	letter-spacing: 0.06em;
	font-family: inherit;

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		cursor: pointer;
	}
}
