.footer {
	height: auto;
	padding: 60px 0px;
	background-color: #2f303a;
}

.footer__box {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: center;
	}

	@media screen and (min-width: 1200px) {
		flex-wrap: nowrap;
	}
}

.footer__contacts {
	text-align: center;
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		flex-basis: calc ((100% - 50) /2);
		margin-left: 60px;
	}

	@media screen and (min-width: 1200px) {
		text-align: left;
		margin-left: 0px;
		margin-bottom: 0px;
	}
}

.footer__logo {
	margin-bottom: 20px;
	width: 100%;
	font-size: 24px;

	span {
		color: var(--primary-bg-color);
		margin-left: -6px;
		margin-right: 0px;
	}

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}

.address__text {
	margin-bottom: 8px;

	color: #ffffff;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
}

.address__link {
	margin-bottom: 8px;

	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: #ffffff;
	}
}

.footer__socials {
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		flex-basis: calc ((100% - 50) /2);
		margin-left: auto;
		margin-right: 60px;
	}

	@media screen and (min-width: 1200px) {
		margin-left: 60px;
		margin-bottom: 0px;
	}
}

.footer__title {
	text-align: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-bg-color);
	margin-top: 12px;
	margin-bottom: 20px;

	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.footersoc {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.footersoc__link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: block;
	background-color: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent);
	}
}

.footersoc__icon {
	fill: var(--primary-bg-color);

	.footersoc__link:hover &,
	.footersoc__link:focus & {
		fill: var(--primary-bg-color);
	}
}

.footer__subscr {
	text-align: center;

	@media screen and (min-width: 1200px) {
		margin-left: auto;
		margin-bottom: 0px;
	}
}

.footer__subscr--group {
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}

.footer__form {
	padding: 15px 16px;

	width: 100%;
	height: auto;
	margin-bottom: 20px;

	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: #ffffff;

	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}

	@media screen and (min-width: 1200px) {
		width: 358px;
	}
}

.footer__iconbox {
	width: 24px;
	height: 24px;
}

.footer__icon {
	fill: #ffffff;
}

.footer__thump {
	display: inline-block;
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer__btn {
	height: 50px;
	margin-left: 12px;
}
