.header {
	border-bottom: 1px solid #ececec;
	padding-top: 16px;
	// padding-bottom: 16px;
}

.header > .container,
.navigation__list,
.contacts,
.navigation {
	display: flex;
	align-items: center;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.mob-logo {
	padding: 16px;
	@media screen and (min-width: 768px) {
		display: none;
		padding: 0px;
	}
}

.menu-open {
	margin-left: auto;
	background-color: transparent;
	border: none;
	padding: 0px;
	width: 24px;
	height: 16px;

	@media screen and (min-width: 768px) {
		display: none;
		padding: 0px;
	}
}

.mob-menu {
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	top: 0;
	left: 0;
	padding: 48px 40px;

	> .container {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		overflow: auto;
	}

	@media screen and (min-width: 768px) {
		display: none;
		padding: 0px;
	}
}

.menu-close {
	position: absolute;
	top: 21px;
	right: 25px;
	display: block;
	margin-left: auto;

	background-color: transparent;
	border: none;
	margin-bottom: 30px;

	&:hover {
		fill: var(--accent);
	}
}

.menu-mob__link {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.175;
	letter-spacing: 0.02em;
	color: #212121;
	margin-bottom: 32px;

	&:hover,
	&:focus {
		color: var(--accent);
	}
}

.mob-contacts__link {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 1.175;
	letter-spacing: 0.02em;

	color: #2196f3;
	margin-bottom: 32px;

	@media screen and (min-width: 480px) {
		font-size: 34px;
	}
}

.mob-contacts__text {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.175;
	letter-spacing: 0.02em;

	color: #757575;

	margin-bottom: 64px;

	@media screen and (min-width: 480px) {
		font-size: 24px;
	}
}

.mob-soc {
	display: flex;
	align-items: center;
	gap: 10px;

	.item {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 1.22;
		letter-spacing: 0.02em;
		color: #2196f3;
		background-color: #ffffff;
		padding-right: 10px;

		&:not(:last-child) {
			border-right: 1px solid rgba(33, 33, 33, 0.2);
		}

		@media screen and (min-width: 480px) {
			font-size: 18px;
		}
	}
}

// desctop

.desctop-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	@media screen and (max-width: 767px) {
		display: none;
		padding: 0px;
	}
}

.navigation__list {
	gap: 50px;
}

.navigation__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	position: relative;

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;

		width: 100%;
		height: 4px;
		border-radius: 2px;

		background-color: var(--accent);
		transform: scaleX(0);

		transition-property: transform;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover::after {
		transform: scaleX(1);
	}

	&:hover,
	&:focus {
		color: var(--accent);
	}
}

.contacts {
	margin-left: auto;

	@media screen and (min-width: 768px) {
		flex-direction: column;
	}

	@media screen and (min-width: 1200px) {
		flex-direction: row;
		gap: 30px;
	}
}

.contacts__link {
	display: flex;
	display: block;
	position: relative;
	margin-bottom: 10px;

	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
		align-items: center;
		margin-bottom: 0px;
	}

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent);
		fill: var(--accent);
	}
}

.contacts__text {
	margin-left: 22px;
}

.contacts__icon {
	position: absolute;
	width: 16px;
	height: 16px;
}

.contacts__item {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.current {
	position: relative;
	color: var(--accent);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		display: block;

		width: 100%;
		height: 4px;
		border-radius: 2px;

		background-color: var(--accent);

		transform: scaleX(1);
	}
}
