.hero {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 200px 0px;
	text-align: center;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../image/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary-background-color);
}

.hero__title {
	color: var(--primary-bg-color);
	/*outline: 2px solid greenyellow;*/
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
}
